@media screen and (max-width: 930px) {
    #country_info, #flag-container {
        display: none;
    }

    #viewport-930, #offcanvasBottom, #viewport-930-div-2 {
        display: block;
    }

    td {
        max-width: 130px;
    }

  }

@media screen and (min-width: 930px) {
    #viewport-930, #viewport-930-div-1, #viewport-930-div-2 {
        display: none;
    }

    #country_info, #flag-container {
        display: block;
    }

    td {
        max-width: 150px;
    }

  }

.flag {
    text-align: center;
}

td {
    white-space: nowrap;
    padding: 0px;
    text-align: left;
    
}

.title {
    text-align: left;
}

tbody {
    position: relative;
}


#viewport-930, #offcanvasBottom, #viewport-930-div-2 {
    z-index: 2;
}

#viewport-930 {
    position: absolute;
    top: 91%;
    
}

#offcanvasBottom {
    opacity: 100%;
}


html, body, .container-fluid, #map, #map-container {
    height: 100%
}
#map-container{
    position: relative;
    padding: 0;
    opacity: 70%;
}

#top-map{
    position: absolute;
    top: 10px;
    left: 50%;
    width: 200px;
    z-index: 2;
    transform: translate(-50%, 0);
}

#select-country {
    width: 100%;
    
}

#map {
    height: 100%;
    position: relative;
    z-index: 1;
}



#country_info {
    
    position: fixed;
    left: 4%;
    top: 30%;
    z-index: 1;
    padding: 0;
    min-width: 500px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 5px;
    opacity: 70%;
  }

  #flag-container {
      z-index: 1;
      width: 150px;
      height: auto;
      

  }

  #flag-container img {
      width: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
      
  }

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 100px;
    height: 100px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  
      
  

