@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  @media screen and (max-width: 929px) {
    #country_info, #flag-container {
        display: none;
    }

    #viewport-930, #offcanvasBottom, #viewport-930-div-2 {
        display: block;
    }

    #three-day-forecast-container{
        flex-direction: column;
        flex-wrap: wrap;
    }

    /*#covid-modal-header > h5,#covid-modal-header > h6 {
        
        font-size: 100%;
    }*/

  }

@media screen and (max-width: 374px) {
    #country_info, #flag-container {
        display: none;
    }

    #viewport-930, #offcanvasBottom, #viewport-930-div-2 {
        display: block;
    }

    #covid-modal-header > h5, #covid-modal-header > h6, #exchange-modal-header > h5 {
        
        font-size: 80%;
    }

    

  }

@media screen and (min-width: 930px) {
    #viewport-930, #viewport-930-div-1, #viewport-930-div-2 {
        display: none;
    }

    #country_info, #flag-container {
        display: block;
    }

    td {
        max-width: 150px;
    }

  }


#weather-icon {
    height: auto;
    width: 100%;
    max-width: 200px;
}

.flag {
    text-align: center;
}

#covid-modal-content {
    background-color: rgb(255, 196, 196);
}

#covid-modal-header {
    background-color: white; margin: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.covid-tr:nth-child(1){
    background-color: white;
}

.covid-tr:nth-child(2){
    background-color: rgb(252, 220, 220);
}

.covid-tr {
    border-radius: 3px;
    padding: 10px;
    display: flex; 
    justify-content: space-between;
}

#covid-table {
    width: 100%;
}

#weather-modal-header {
    background-color: white; 
    margin: 10px;
    justify-content: center;
}

#weather-modal-content {
    background-image: url(../images/bluesky.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#weather-model-body {
    display: flex;
    justify-content: center;
}

#current-weather-container {
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    padding: 5px;
}

#three-day-forecast-container {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.upcoming-forcast-container {
    height: auto;
    width: auto;
    max-height: 175px;
    max-width: 175px;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 10px;
}

.three-day-forecast-heading {
    text-align: center;
}

.three-day-temp{
    display:inline-block;
    width: auto;
    margin-right: 6px;
}

.three-day-desc {
    text-align: center;
}

#exchange-modal-content {
    background-image: url(../images/currency.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#exchange-modal-header {
    background-color: white; 
    margin: 10px;
    justify-content: center;
}

#exchange-modal-body {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}

.currency-symbol {
    font-weight: bolder;
    font-size: 200%;
}

.currency-digit {
    font-weight: bolder;
    font-size: 300%
}

.exchange {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: auto;
    width: auto;
    margin: 10px;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
}

#information-modal-content {
    background-image: url(../images/world-map.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

#information-modal-header {
    background-color: white; 
    margin: 10px;
    justify-content: center;
}

#information-table {
    background-color: white;
    width: 100%;
}

.information-tr {
    border-radius: 3px;
    padding: 10px;
    display: flex; 
    justify-content: space-between;
}

.information-tr:nth-child(odd){
    background-color: lightgray;
}

#viewport-930, #offcanvasBottom, #viewport-930-div-2 {
    z-index: 2;
}

#viewport-930 {
    position: absolute;
    top: 91%;
    
}

#offcanvasBottom {
    opacity: 100%; 
}


html, body, .container-fluid, #map, #map-container {
    height: 100%;
    width: 100%;
}

#map-container{
    position: relative;
    padding: 0;
    opacity: 70%;
}

#top-map{
    position: absolute;
    top: 10px;
    left: 50%;
    width: 200px;
    z-index: 2;
    transform: translate(-50%, 0);
}


#map {
    height: 100%;
    position: relative;
    z-index: 1;
}



#country_info {
    
    position: fixed;
    left: 4%;
    top: 5%;
    z-index: 1;
    padding: 0;
    min-width: 500px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 5px;
    opacity: 70%;
  }

  #countryflag {
      z-index: 1;
      width: 200px;
      height: auto;
    }

  #loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 100px;
    height: 100px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }



  
      
  

